<html>
<head>
<meta http-equiv='content-type' content='text/html; charset=iso-8859-1' />
<link rel="stylesheet" href="/mdb/templates/style.css" type="text/css" />
<title>MDB_TITLE</title> 
</head>

<body>
<div id="title">
<br/><br/>
<h1>MDB_TITLE</h1>
</div>
<div id="download">
<table>
<tr> 
<td><img src="MDB_COVER" height="400px"/></td> 
<td>
<ul>
<li><b>Titol:</b> MDB_TITLE</li>
<li<b>Puntuacio:</b> MDB_RATING </li>

<li><b>Any:</b> MDB_YEAR </li> 
<li><b>Generes:</b> MDB_GENERES </li>
<li><b>Tipus:</b> MDB_KIND </li>
<li><b>Pais:</b> MDB_COUNTRY </li>

<li><b>Director:</b> MDB_DIRECTOR </li> 
</ul> 
<br /><br /><br />
<a href="MDB_DOWNLOAD">
<img height="80px" src="/mdb/download.png" />
</a> 


</td></tr></table>

<h3>Argument</h3>
<div style="width:400px;">
MDB_PLOT
</div>

<br /><br /> 
</body>
</div>
</html>

