<html>
<head>
<meta http-equiv='content-type' content='text/html; charset=iso-8859-1' />
<title>HOME MOVIE DATA BASE</title> 
<link rel="stylesheet" href="/hmdb/templates/style.css" type="text/css" />
</head>

<body>
	<div id="main"
<div id="title">
<br/><br/>
<h1>Home Media Data Base</h1>
</div>

<h3>Score from 9 to 10</h3>
<div id="movie_index">
  MDB_INDEX9
</div>
<br />
<h3>Score from 8 to 9</h3>
<div id="movie_index">
  MDB_INDEX8
</div>
<br />
<h3>Score from 7 to 8</h3>
<div id="movie_index">
  MDB_INDEX7
</div>
<br />
<h3>Score from 6 to 7</h3>
<div id="movie_index">
  MDB_INDEX6
</div>
<br />
<h3>Score from 5 to 6</h3>
<div id="movie_index">
  MDB_INDEX5
</div>
<br />
<h3>Score from 4 to 5</h3>
<div id="movie_index">
  MDB_INDEX4
</div>
<br />
<h3>Score from 3 to 4</h3>
<div id="movie_index">
  MDB_INDEX3
</div>
<br />
<h3>Score from 2 to 3</h3>
<div id="movie_index">
  MDB_INDEX2
</div>
<br />
<h3>Score from 1 to 2</h3>
<div id="movie_index">
  MDB_INDEX1
</div>
	</div> <!-- main -->
</body>
</html>

