<html>
<head>
<meta http-equiv='content-type' content='text/html; charset=iso-8859-1' />
<title>HOME MOVIE DATA BASE</title> 
<link rel="stylesheet" href="/mdb/templates/style.css" type="text/css" />
</head>

<body>
	<div id="main"
<div id="title">
<br/><br/>
<h1>Home Media Data Base</h1>
</div>

<h3>Puntuacio de 9 a 10</h3>
<div id="movie_index">
  MDB_INDEX9
</div>
<br />
<h3>Puntuacio de 8 a 9</h3>
<div id="movie_index">
  MDB_INDEX8
</div>
<br />
<h3>Puntuacio de 7 a 8</h3>
<div id="movie_index">
  MDB_INDEX7
</div>
<br />
<h3>Puntuacio de 6 a 7</h3>
<div id="movie_index">
  MDB_INDEX6
</div>
<br />
<h3>Puntuacio de 5 a 6</h3>
<div id="movie_index">
  MDB_INDEX5
</div>
<br />
<h3>Puntuacio de 4 a 5</h3>
<div id="movie_index">
  MDB_INDEX4
</div>
<br />
<h3>Puntuacio de 3 a 4</h3>
<div id="movie_index">
  MDB_INDEX3
</div>
<br />
<h3>Puntuacio de 2 a 3</h3>
<div id="movie_index">
  MDB_INDEX2
</div>
<br />
<h3>Puntuacio de 1 a 2</h3>
<div id="movie_index">
  MDB_INDEX1
</div>
	</div> <!-- main -->
</body>
</html>

